@media screen and (max-width:900px) {
    body{
        /* background-color: red; */
    }
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 2vw 0 0px 0;
    }
    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
        margin: 0 2vw 3vw 0;
    }
    .search input{
        /* margin: 0 2vw 3vw 0; */
    }
    nav.ul{
        height: 3vh;
    }
    .slider{
        height: 23vh;
    }
    .card-item{
        width: 10vw;
        justify-content: center;
        /* background-color: red; */
    }
    .card-item img{
        width: 10vw;
        justify-content: center;
    }
    
}