@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
:root {
    --main-bg-color: #2874f0;
  }
  
*{
    margin: 0;
    padding: 0;
}
header{
    height: 58px;
    background:var(--main-bg-color);
    color:white;
    font-family: 'Dosis', sans-serif;
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    
    
    /* width: 1px; */
}
.logo img{
    width: 100px;
    padding: 0 10px;

}
nav ul{
    height: 58px;
    display: flex;
    /* border: 3px solid red; */
    justify-content: flex-start;
    align-items: center;

}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bolder;
    /* color: red; */
}
.search{
    display: flex;
    align-items: center;
    
}
.search input{
    width: 495px;
    height: 25px;
    border-radius: 3px;
    margin: 0 16px 0 50px;
    padding: 0 12px;
    
}
.search button{
   font-style:  'Dosis', sans-serif;
   font-weight: bold;
}
.slider{
    width: 80vw;
    margin: 12px auto;
}
.card{
    background-color: whitesmoke;
    margin:0 30px;
}
.card h2{
    font-family:'Dosis', sans-serif ;
    
}
.cards{
    display: flex;
    justify-content: center;
    /* margin: 0 15px; */

}
.card-item{
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 12vw;
    margin: 0 15px;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
    /* background-color: aqua; */
}
footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    color: beige;
    font-family: 'Dosis', sans-serif;
}